.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/pexelsphoto3393444.jpeg"); background-position: 50% 100%}
.u-section-1 .u-sheet-1 {min-height: 708px}
.u-section-1 .u-text-1 {font-family: Ubuntu, sans-serif; font-size: 2.25rem; margin: 60px 0 0 648px}
.u-section-1 .u-text-2 {text-transform: uppercase; line-height: 1.8; font-size: 0.875rem; margin: 24px 0 0 759px}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 30px 0 60px auto; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 584px}
.u-section-1 .u-text-1 {margin-left: 448px}
.u-section-1 .u-text-2 {margin-left: 559px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 447px}
.u-section-1 .u-text-1 {margin-left: 228px}
.u-section-1 .u-text-2 {margin-left: 339px} }

@media (max-width: 767px){ .u-section-1 {background-size: 140%}
.u-section-1 .u-sheet-1 {min-height: 427px}
.u-section-1 .u-text-1 {width: auto; margin-top: 183px; margin-left: 48px; font-size: 1.5}
.u-section-1 .u-text-2 {width: auto; margin-left: 159px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 370px}
.u-section-1 .u-text-1 {font-size: 1.5rem; margin-top: 60px; margin-left: 0}
.u-section-1 .u-text-2 {margin-left: 0} }.u-section-2 .u-sheet-1 {min-height: 268px}
.u-section-2 .u-layout-wrap-1 {margin: -84px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 356px; background-image: none}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-image-1 {height: 251px; margin: 0 auto 0 0}
.u-section-2 .u-text-1 {text-transform: uppercase; letter-spacing: 2px; margin-left: 0; margin-right: 0; margin-bottom: 0}
.u-section-2 .u-layout-cell-2 {min-height: 356px}
.u-section-2 .u-container-layout-2 {padding: 20px}
.u-section-2 .u-image-2 {height: 251px; margin: 0 auto 0 0}
.u-section-2 .u-text-2 {text-transform: uppercase; letter-spacing: 2px; margin: 20px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 356px}
.u-section-2 .u-container-layout-3 {padding: 20px}
.u-section-2 .u-image-3 {height: 251px; margin: 0 auto 0 0}
.u-section-2 .u-text-3 {text-transform: uppercase; letter-spacing: 2px; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 206px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 294px}
.u-section-2 .u-image-1 {height: 202px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 294px}
.u-section-2 .u-image-2 {height: 202px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-3 {min-height: 294px}
.u-section-2 .u-image-3 {height: 202px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 12px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 148px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {height: 148px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-image-3 {height: 148px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 112px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {height: 385px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {height: 385px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {height: 385px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {height: 237px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 237px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 237px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 343px}
.u-section-3 .u-text-1 {font-size: 2.25rem; margin: 72px 40px 0 0}
.u-section-3 .u-text-2 {font-size: 1.25rem; line-height: 2; letter-spacing: 0; margin: 20px 40px 0 0}
.u-section-3 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 30px auto 60px 0; padding: 0} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-right: 0}
.u-section-3 .u-text-2 {margin-left: auto; margin-right: auto}
.u-section-3 .u-btn-1 {width: 125px; height: 27px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {font-size: 2.25} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 768px}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: 60px auto}
.u-section-4 .u-layout-cell-1 {min-height: 330px}
.u-section-4 .u-container-layout-1 {padding: 30px 0 0 30px}
.u-section-4 .u-image-1 {width: 251px; height: 238px; margin: 0 0 0 auto}
.u-section-4 .u-image-2 {min-height: 313px; background-image: url("../images/photo-1582146789073-ab04c210e9de.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-layout-cell-3 {min-height: 643px}
.u-section-4 .u-container-layout-3 {padding: 30px 0}
.u-section-4 .u-image-3 {height: 408px; margin: 0 auto 0 0}
.u-section-4 .u-text-1 {margin-left: 0; margin-bottom: 0; margin-top: 20px}
.u-section-4 .u-btn-1 {margin-left: 0; margin-right: 0; background-image: none; border-style: none; text-transform: uppercase; letter-spacing: 2px; margin-top: 20px}
.u-section-4 .u-layout-cell-4 {min-height: 643px}
.u-section-4 .u-container-layout-4 {padding: 30px 0 30px 30px}
.u-section-4 .u-group-1 {width: 404px; min-height: 268px; margin: 70px auto 0 -132px}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-text-2 {margin-top: 0; margin-bottom: 0; font-size: 2.25rem}
.u-section-4 .u-text-3 {margin-left: 0; margin-bottom: 0; margin-top: 20px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 655px}
.u-section-4 .u-sheet-1 {min-height: 655px}
.u-section-4 .u-layout-wrap-1 {width: 940px; margin-left: 100px}
.u-section-4 .u-layout-cell-1 {min-height: 272px}
.u-section-4 .u-image-2 {min-height: 258px}
.u-section-4 .u-layout-cell-3 {min-height: 530px}
.u-section-4 .u-image-3 {height: 336px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-4 {min-height: 530px}
.u-section-4 .u-group-1 {width: 371px; min-height: 270px; margin-top: 33px; margin-left: -156px} }

@media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {margin-left: 0; width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 432px}
.u-section-4 .u-image-1 {width: 608px; height: 372px; object-position: 50% 20.47%; background-position: 50% 20.47%}
.u-section-4 .u-image-2 {min-height: 459px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-image-3 {height: 425px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-left: 0}
.u-section-4 .u-image-1 {height: 330px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-2 {min-height: 344px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-bottom: 0}
.u-section-4 .u-image-3 {height: 503px; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-4 {padding-top: 0; padding-bottom: 0; padding-left: 0}
.u-section-4 .u-group-1 {width: 404px; margin-top: 0; margin-left: auto}
.u-section-4 .u-text-2 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-layout-cell-1 {min-height: 382px}
.u-section-4 .u-image-1 {height: 322px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-2 {min-height: 239px}
.u-section-4 .u-layout-cell-3 {min-height: 433px}
.u-section-4 .u-image-3 {height: 317px; margin-right: initial; margin-left: initial}
.u-section-4 .u-group-1 {width: 330px}
.u-section-4 .u-text-2 {font-size: 2.25rem} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 487px}
.u-section-5 .u-layout-wrap-1 {margin: 91px auto 91px 0}
.u-section-5 .u-layout-cell-1 {min-height: 306px}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-text-1 {font-size: 3rem; margin: 0}
.u-section-5 .u-layout-cell-2 {min-height: 306px; background-image: none}
.u-section-5 .u-container-layout-2 {padding: 20px}
.u-section-5 .u-text-2 {margin: 0}
.u-section-5 .u-layout-cell-3 {min-height: 306px; background-image: none}
.u-section-5 .u-container-layout-3 {padding: 20px}
.u-section-5 .u-text-3 {margin: 0}
.u-section-5 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 20px auto 0 0; padding: 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 196px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-text-1 {position: relative}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-text-2 {position: relative}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-text-3 {position: relative}
.u-section-5 .u-btn-1 {width: 125px; height: 27px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 2px} }

@media (max-width: 767px){ .u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }.u-section-6 {background-image: none; min-height: 803px}
.u-section-6 .u-layout-wrap-1 {pointer-events: auto; width: 765px; margin: 60px auto 60px calc(((100% - 1140px) / 2) + 188px)}
.u-section-6 .u-image-1 {min-height: 497px; background-image: url("../images/pexelsphoto3551227.jpeg"); background-position: 50% 50%}
.u-section-6 .u-container-layout-1 {padding: 30px 60px}
.u-section-6 .u-text-1 {font-size: 8.125rem; font-weight: 700; margin: 0 -28px 0 -186px}
.u-section-6 .u-layout-cell-2 {min-height: 164px}
.u-section-6 .u-container-layout-2 {padding: 0 0 30px}
.u-section-6 .u-text-2 {margin-top: 0; font-size: 1.125rem; margin-bottom: 0}
.u-section-6 .u-layout-cell-3 {min-height: 159px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-layout-cell-4 {min-height: 538px}
.u-section-6 .u-container-layout-4 {padding: 30px}
.u-section-6 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-6 .u-text-3 {font-size: 1.6875rem; font-style: normal; line-height: 1.6; margin: 20px 0 0}
.u-section-6 .u-text-4 {font-weight: 700; font-style: normal; margin: 20px auto 0 0}
.u-section-6 .u-btn-1 {background-image: none; border-style: none; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 20px auto 0 0; padding: 10px 62px 10px 61px} 

@media (max-width: 1199px){ .u-section-6 .u-layout-wrap-1 {margin-left: calc(((100% - 940px) / 2) + 175px)}
.u-section-6 .u-text-1 {width: auto; margin-right: 1px; margin-left: -235px}
.u-section-6 .u-btn-1 {width: 125px; height: 27px} }

@media (max-width: 991px){ .u-section-6 .u-layout-wrap-1 {width: 720px; margin-left: calc(((100% - 720px) / 2))}
.u-section-6 .u-image-1 {min-height: 936px}
.u-section-6 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-layout-cell-3 {min-height: 299px}
.u-section-6 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 .u-layout-wrap-1 {width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-6 .u-image-1 {min-height: 702px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {font-size: 6rem}
.u-section-6 .u-layout-cell-3 {min-height: 224px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-cell-4 {min-height: 385px}
.u-section-6 .u-text-3 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-6 .u-layout-wrap-1 {width: 340px; margin-left: calc(((100% - 340px) / 2))}
.u-section-6 .u-image-1 {min-height: 442px}
.u-section-6 .u-layout-cell-3 {min-height: 141px}
.u-section-6 .u-layout-cell-4 {min-height: 411px}
.u-section-6 .u-text-3 {font-size: 1.5rem} }.u-section-7 .u-sheet-1 {min-height: 728px}
.u-section-7 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 45px 66px 0}
.u-section-7 .u-layout-wrap-1 {margin: 40px auto 45px 0}
.u-section-7 .u-layout-cell-1 {min-height: 546px; background-image: none}
.u-section-7 .u-container-layout-1 {padding-bottom: 20px}
.u-section-7 .u-image-1 {height: 416px; margin: 0 auto 0 0}
.u-section-7 .u-text-2 {font-style: italic; margin: 30px 20px}
.u-section-7 .u-layout-cell-2 {background-image: none; min-height: 546px}
.u-section-7 .u-container-layout-2 {padding-bottom: 20px}
.u-section-7 .u-image-2 {height: 416px; margin: 0 auto 0 0}
.u-section-7 .u-text-3 {font-style: italic; margin: 30px 20px}
.u-section-7 .u-layout-cell-3 {background-image: none; min-height: 546px}
.u-section-7 .u-container-layout-3 {padding-bottom: 20px}
.u-section-7 .u-image-3 {height: 416px; margin: 0 auto 0 0}
.u-section-7 .u-text-4 {font-style: italic; margin: 30px 20px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 154px}
.u-section-7 .u-text-1 {position: relative; margin-left: 0; margin-right: auto}
.u-section-7 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-image-1 {height: 343px; position: relative; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-image-2 {height: 343px; position: relative; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-7 .u-layout-cell-3 {min-height: 100px}
.u-section-7 .u-image-3 {height: 343px; position: relative; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-4 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-7 .u-image-1 {height: 263px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-7 .u-image-2 {height: 263px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-7 .u-image-3 {height: 263px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-4 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 254px}
.u-section-7 .u-text-1 {font-size: 3rem}
.u-section-7 .u-image-1 {height: 592px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-7 .u-image-2 {height: 592px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-7 .u-image-3 {height: 592px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-4 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-7 .u-image-1 {height: 373px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-7 .u-image-2 {height: 373px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-7 .u-image-3 {height: 373px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-4 {margin-left: 6px; margin-right: 6px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 373px}
.u-section-8 .u-text-1 {text-transform: none; letter-spacing: normal; font-size: 2.25rem; margin: 60px 400px 0 0}
.u-section-8 .u-text-2 {line-height: 1.6; letter-spacing: normal; font-size: 1.25rem; margin: 20px 0 0}
.u-section-8 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 30px auto 60px 0; padding: 0} 

@media (max-width: 1199px){ .u-section-8 .u-text-1 {margin-right: 200px}
.u-section-8 .u-btn-1 {width: 125px; height: 27px} }

@media (max-width: 991px){ .u-section-8 .u-text-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-8 .u-text-1 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-8 .u-text-1 {font-size: 1.5rem} }.u-section-9 .u-sheet-1 {min-height: 1124px}
.u-section-9 .u-layout-wrap-1 {margin: 60px 0 0 auto}
.u-section-9 .u-image-1 {min-height: 597px; background-image: url("../images/photo-1517957754642-2870518e16f8.jpg"); background-position: 50% 50%}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-layout-cell-2 {min-height: 272px}
.u-section-9 .u-container-layout-2 {padding: 30px 0}
.u-section-9 .u-text-1 {margin-top: 0; font-size: 8.125rem; margin-right: 0; margin-left: 0; font-weight: 700}
.u-section-9 .u-layout-cell-3 {min-height: 285px}
.u-section-9 .u-container-layout-3 {padding-top: 30px; padding-right: 0; padding-left: 0}
.u-section-9 .u-text-2 {margin: 0}
.u-section-9 .u-text-3 {margin: 20px 0 0}
.u-section-9 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 20px auto 0 0; padding: 0}
.u-section-9 .u-image-2 {min-height: 584px; background-image: url("../images/as.jpg"); background-position: 50% 50%}
.u-section-9 .u-container-layout-4 {padding-right: 0; padding-left: 60px}
.u-section-9 .u-layout-wrap-2 {width: 613px; margin: -62px 50px 60px auto}
.u-section-9 .u-image-3 {background-image: url("../images/photo-1432836627967-171c58844bde.jpg"); background-position: 50% 50%; min-height: 215px}
.u-section-9 .u-container-layout-5 {padding: 30px}
.u-section-9 .u-image-4 {background-image: url("../images/photo-1517486430290-35657bdcef51.jpg"); background-position: 50% 50%; min-height: 215px}
.u-section-9 .u-container-layout-6 {padding: 30px}
.u-section-9 .u-image-5 {background-image: url("../images/photo-1512505965932-0dbfa7e7b8c8.jpg"); background-position: 50% 50%; min-height: 215px}
.u-section-9 .u-container-layout-7 {padding: 30px} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 972px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-image-1 {min-height: 492px}
.u-section-9 .u-layout-cell-2 {min-height: 224px}
.u-section-9 .u-text-1 {font-size: 6.875rem}
.u-section-9 .u-layout-cell-3 {min-height: 235px}
.u-section-9 .u-btn-1 {width: 125px; height: 27px}
.u-section-9 .u-image-2 {min-height: 482px}
.u-section-9 .u-layout-wrap-2 {margin-top: -87px; margin-right: 70px} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 1947px}
.u-section-9 .u-image-1 {min-height: 754px}
.u-section-9 .u-layout-cell-2 {min-height: 100px}
.u-section-9 .u-container-layout-2 {padding-bottom: 0}
.u-section-9 .u-layout-cell-3 {min-height: 100px}
.u-section-9 .u-container-layout-3 {padding-top: 0}
.u-section-9 .u-image-2 {min-height: 738px}
.u-section-9 .u-container-layout-4 {padding-left: 30px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 3272px}
.u-section-9 .u-image-1 {min-height: 566px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-1 {font-size: 4.5rem}
.u-section-9 .u-image-2 {min-height: 554px}
.u-section-9 .u-container-layout-4 {padding-left: 10px}
.u-section-9 .u-layout-wrap-2 {width: 540px; margin-top: 20px; margin-right: 0; margin-bottom: 50px}
.u-section-9 .u-image-3 {min-height: 568px}
.u-section-9 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-4 {min-height: 568px}
.u-section-9 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-5 {min-height: 568px}
.u-section-9 .u-container-layout-7 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 1661px}
.u-section-9 .u-image-1 {min-height: 356px}
.u-section-9 .u-layout-cell-2 {min-height: 137px}
.u-section-9 .u-container-layout-2 {padding-top: 20px}
.u-section-9 .u-text-1 {width: auto; margin-right: 7px; margin-bottom: 0; margin-left: -7px}
.u-section-9 .u-layout-cell-3 {min-height: 354px}
.u-section-9 .u-image-2 {min-height: 349px}
.u-section-9 .u-layout-wrap-2 {width: 340px}
.u-section-9 .u-image-3 {min-height: 358px}
.u-section-9 .u-image-4 {min-height: 358px}
.u-section-9 .u-image-5 {min-height: 358px} }.u-section-10 {background-image: none}
.u-section-10 .u-sheet-1 {min-height: 810px}
.u-section-10 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-10 .u-layout-cell-1 {min-height: 383px}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-text-1 {margin-top: 0; font-size: 3rem; margin-bottom: 0; font-weight: 700}
.u-section-10 .u-icon-1 {margin-top: 30px; margin-bottom: 0; height: 48px; width: 48px}
.u-section-10 .u-text-2 {margin-left: 0; font-weight: 700; margin-bottom: 0; margin-top: 20px}
.u-section-10 .u-icon-2 {height: 48px; width: 48px; margin: 30px auto 0 0}
.u-section-10 .u-text-3 {font-weight: 700; margin: 20px auto 0 0}
.u-section-10 .u-layout-cell-2 {min-height: 345px}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-form-1 {margin: 0}
.u-section-10 .u-btn-1 {border-style: none; background-image: none; font-weight: 700}
.u-section-10 .u-image-1 {min-height: 345px; background-image: url("../images/pexelsphoto.jpg"); background-position: 72.37% 50%}
.u-section-10 .u-container-layout-3 {padding: 30px}
.u-section-10 .u-layout-cell-4 {min-height: 345px}
.u-section-10 .u-container-layout-4 {padding: 30px 20px}
.u-section-10 .u-text-4 {margin-top: 0; font-size: 2.25rem; line-height: 1; margin-bottom: 0; font-weight: 700}
.u-section-10 .u-layout-cell-5 {min-height: 345px}
.u-section-10 .u-container-layout-5 {padding: 30px 20px}
.u-section-10 .u-text-5 {margin-top: 0; margin-bottom: 0}
.u-section-10 .u-btn-2 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 20px auto 0 0; padding: 0}
.u-section-10 .u-image-2 {min-height: 345px; background-image: url("../images/53e0d046495aa814f6da8c7dda79367d1d38d6ed5b586c4870277cdd9f49cc59bd_1280.jpg"); background-position: 50% 50%}
.u-section-10 .u-container-layout-6 {padding: 30px} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 688px}
.u-section-10 .u-layout-cell-1 {min-height: 316px}
.u-section-10 .u-text-2 {height: 25px}
.u-section-10 .u-layout-cell-2 {min-height: 284px}
.u-section-10 .u-image-1 {min-height: 284px}
.u-section-10 .u-layout-cell-4 {min-height: 284px}
.u-section-10 .u-text-4 {font-size: 1.875rem}
.u-section-10 .u-layout-cell-5 {min-height: 284px}
.u-section-10 .u-btn-2 {width: 125px; height: 27px}
.u-section-10 .u-image-2 {min-height: 284px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 1208px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-image-1 {min-height: 435px}
.u-section-10 .u-layout-cell-4 {min-height: 100px}
.u-section-10 .u-layout-cell-5 {min-height: 100px}
.u-section-10 .u-image-2 {min-height: 435px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 2180px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-1 {min-height: 653px}
.u-section-10 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-2 {min-height: 653px}
.u-section-10 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-10 .u-sheet-1 {min-height: 1454px}
.u-section-10 .u-form-group-1 {width: 100%}
.u-section-10 .u-form-group-2 {width: 100%}
.u-section-10 .u-form-group-3 {width: 100%}
.u-section-10 .u-form-group-4 {width: 100%}
.u-section-10 .u-image-1 {min-height: 411px}
.u-section-10 .u-image-2 {min-height: 411px} }